{% extends "projects.html" %}

{% block content %}
  <h1 style="font-size:320%; color:blue">Friends</h1>
  <hr/>

      <form id="form" method="POST" action="{% url 'friends:add_friend' %}" style="margin-bottom:6rem">
          {% csrf_token %}
          {{ add_friend_form }}
          <br>
          <button type="submit" class="btn btn-default">Add Friend</button>
      </form>


  <div class="flex">
              {% if friend_list %}
                  {% for person in friend_list %}
                      <div class="flex-item">
                        <a href="#"><i class="fa fa-arrow-down fa-2x"></i></a>
                        <div class="friend-list">
                          <div class="to-do-list-image">
                            <img src="https://i1.wp.com/techieswag.com/wp-content/uploads/2016/11/profile-empty..jpg?ssl=1" class="profile" />
                          </div>
                          <div class="to-do-list">
                              <div class="to-do-list-title">
                                  {{person.name}}
                              </div>
                              <div class="to-do-list-description">
                                  <a href="{{person.url}}">{{person.url}}</a>
                              </div>
                              <div class="to-do-list-date-added">
                                  Added {{person.created_date}}
                              </div>
                          </div>
                        </div>
                      </div>
                  {% endfor %}
              {% else %}
              <div class="alert alert-danger text-center">
                  <strong>Oops!</strong> you have no friend.
              </div>
              {% endif %}
          </div>

{% endblock %}
