{% extends "index.html" %}

{% block content %}
<style type="text/css">
    .face {
    border-radius: 100%;}

    .circleborder {
    border: 5px solid #ffcbd3;
    border-radius: 100%;
    display: inline-block;
    float: left;
    }

    #status {
        flex-basis: auto;
        flex-grow: 0;
        flex-shrink: 0;
        border: 2px solid grey;
        background-color: white;
        border-radius: 5px;
        width: 78vw;
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 25px;
        margin-bottom: 10px;
    }
    .status-list-title {
        margin-top: 22px;
        margin-left: 75px;
        font-size: 20px;
        text-align: justify;
    }
    .status-list-description {
        margin-top: 30px;
        margin-left: 10px;
        text-align: justify;
    }
    #grumpy-profile{
        margin: 15px;
        margin-top: -25px;
    }
    #delete-button{
        width: 60px;
        height: 20px;
        padding: 0px;
        margin-left: 70vw;
        background-color: purple;
        border-color: purple    ;
        color:white;
        text-decoration: none;
        font-weight: bolder;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
    }

    #delete-button:hover{
        background-color: white;
        color: purple;
        text-decoration: none;
    }
    #date-added {
        margin-top: 50px;
        color: grey;
        text-align: left;
        margin-left: 10px;
    }
    #post {
        width: 80px;
        height: 40px;
        padding: 0px;
        border-radius: 10%;
        margin-top: 10px;
        background-color: #9c7cea;
        border-color: #9c7cea;
        color:white;
        text-decoration: none;
        font-weight: bolder; 
    }
    @media only screen and (max-width: 768px) {
        #input-list .container #form .status-form-textarea{
            width: 90vw;
        }
        #status {
            width: 90vw;
        }

        #delete-button {
            margin-left: 60vw;
        }
</style>
<section id="input-list">
	<div class="container">
		<form id="form" method="POST" action="{% url 'tugas-1:add_status' %}">
			{% csrf_token %}
			{{ status_form }}
            <br>
			<button type="submit" id="post">Post</button>
		</form>
        <br>
	</div>
</section>
<section>
	<div class="container">
		{% for data in status %}
            <div class="flex-item" id="status">
                <div class="status-list">
                    <div class="circleborder">
                        <img class="face" src= {{ profile.photo }} alt="face" width="50" height="50" align="left">
                    </div>
                </div>
                <div class="status-list-title">
                    <b> {{profile.first_name}} {{profile.last_name}} </b>   
                </div>
                 <div class="status-list-description">
                    {{data.description}}
                </div>
                <div id="date-added" class="status-list-date-added">
                    {{data.created_date}}
                </div>
                <div class="to-do-list-delete">
                        <div class="to-do-list-delete-button">
                            <form method="POST" action="{% url 'tugas-1:delete_status' %}">
                                {% csrf_token %}
                                <button id="delete-button" type="submit" value="{{data.id}}" name="id-value">Delete</button>
                            </form>
                        </div>
                    </div>
            </div>
        {% endfor %}
	</div>
</section>
{% endblock %}
