{% load staticfiles %}
<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>One Page CSS Navigation</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css'>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/tugas_ppw_1.css' %}">
  <style type="text/css">
      iframe {
        width: 100%;
        height: 100%;
      }
      #profile-iframe{
        margin: 0 0 0 150;
      }
  </style>
</head>

<body>
  <div class="ct" id="t1">
 <div class="ct" id="t2">
   <div class="ct" id="t3">
     <div class="ct" id="t4">
<section>
 <ul>
   <a href="#t1"><li class="icon fa fa-home" id="uno"></li></a>
   <a href="#t2"><li class="icon fa fa-keyboard-o" id="dos"></li></a>
   <a href="#t3"><li class="icon fa fa-dashcube" id="tres"></li></a>
   <a href="#t4"><li class="icon fa fa-user-plus" id="cuatro"></li></a>
 </ul>
  <div class="page" id="p1">
    <iframe src="http://localhost:8000/profile/" id="profile-iframe"></iframe>
  </div>
  <div class="page" id="p2">
    <li class="icon fa fa-keyboard-o"><span class="title">Update Status</span></li>
  </div>
  <div class="page" id="p3">
    <li class="icon fa fa-dashcube"><span class="title">Dashboard</span></li>
  </div>
  <div class="page" id="p4">
   <li class="icon fa fa-user-plus"><span class="title">Add Friends</span><span class="hint">Add ur bloody friends here</span></li>
  </div>
    <p class="credit"> Made with love by A-7 Group.</p>
</section>

     </div>
     </div>
   </div>
  </div>


</body>
</html>
