{% extends "projects1.html" %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <style type="text/css">

    .pill{
      height: 10%;
      width: 65%;
      border-radius: 50px;
      text-align: center;
      background-color: #E2E1DC;
    }
  </style>
</head>
<body>
  <div class="dope-yellow" style="margin: 0 0 0 -100;">
    <br>
    <br>

    <div class="row">
      <div class="col-xs-12 col-lg-4 col-lg-offset-1 lato-font">
        <h1>Profile</h1>
        <h2 >{{ profile.first_name }} {{ profile.last_name }}</h2>
        <h3 ><i>{{ profile.email }}</i></h3>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
        <center>
          <div >
            <img class="img-circle img-border" style="width: 90%;" id="grumpy-profile" src= {{ profile.photo }} alt="grumpy profile" width="350px">
          </div>
        </center>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-lg-offset-1">
          <h2>Description:</h2>
          <p>{{ profile.description }}</p>
      </div>
    </div>

    <div class="row lato-font" >
      <div class="col-xs-12 col-lg-4 col-lg-offset-1 lato-font" >
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
          <h4>
            Birthday:
          </h4>
          <h4>
            {{ profile.birth_date }}
          </h4>
          <br>
          <h4>
            Gender:
          </h4>
          <h4>
            {{ profile.gender }}
          </h4>
        </div>
      </div>
      <div class="col-xs-12 col-lg-7 lato-font">
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-4">
          <h4>Expertises: </h4>
          {% for data in expertises %}
                <div class="pill">
                  <h4 style="padding: 5% 0 0 0;">{{data.expertise}}</h4>             
                </div>
          {% endfor %}
        </div>
      </div> 
    </div>

  </div>
</body>

</html>
{% endblock %}
