h1 {
	font-size: 1000% !important;
}

h2 {
	font-size: 500% !important;	
}
h3 {
	font-size: 300% !important;
}
h4 {
	font-size: 280% !important;
}
p {
	font-size: 135%;
}
img {
	width: 80%;
}

.dope-yellow{
	background-color: #C8BF3C;
	height: 100%;
}

.lato-font {
	font-family: 'Lato', sans-serif !important;
}

.img-border {
	border: 5px #E2E1DC solid;
}

.box {
	width: 90%;
	height: 290px;
	border: 1px solid #E2E1DC;
	background-color: #E2E1DC;
}

.rectangle {
	height: 145px;
	line-height: 145px;
}

.pill{
	height: 94px;
	width: 65%;
	border-radius: 47px;
	line-height: 94px;
	text-align: center;
	vertical-align: middle;
	margin: 0 0 0 50;
	background-color: #E2E1DC;
	font-size: 300%;
}

#box-1 {
	margin: 100 0 0 -70;
}
#box-2 {
	margin: 0 0 0 90; 
}

#mid-pill {
	margin: 4 0 4 50;
}

#grumpy-profile {
	margin: 100 10 50 10;
}
#balloon{
	width: 140%;
	margin: 10 0 0 -10; 
}
#gender-img {
	width: 130%;
	margin: 10 0 0 0;
}

/*big tablet*/
@media only screen and (min-width: 992px) and (max-width: 1199px){
	img {
		width: 60%;
	}
	p {
		font-size: 170%;
	}
	.pill {
		width: 50%;
		margin: 0 0 0 300;
	}
	#mid-pill {
		margin: 4 0 4 300;
	}
	#box-2 {
		width: 130%;
	}
}

/*tablet*/
@media only screen and (min-width: 768px) and (max-width: 991px){
	img {
		width: 70%;
	}
	p {
		font-size: 150%;
	}
	.pill {
		width: 50%;
		margin: 0 0 0 250;
	}
	#mid-pill {
		margin: 4 0 4 250;
	}
	#box-2 {
		width: 150%;
	}
}

/*phone*/
@media only screen and (max-width: 767px){
	h1 {
		font-size: 700% !important;
	}
	
	h2 {
		font-size: 400% !important;	
	}
	h3 {
		font-size: 200% !important;
	}
	h4 {
		font-size: 280% !important;
	}
	img {
		width: 75%;
	}
	p {
		font-size: 140%;
	}
	#box-1 {
		width: 100%;
		margin: 20 10 20 10;
	}
	#box-2 {
		width: 100%;
		margin: 10;
	}
	#balloon{
		width: 50%;
		margin: 10 0 0 -10; 
	}
	#gender-img {
		width: 50%;
		margin: 10 0 0 0;
	}
	.pill {
		width: 100%;
		margin: 10;
	}
	#mid-pill {
		margin: 10;
	}
}


